<h1><%= @question.title %></h1>

<%= markdown(@question.body).html_safe %>

<%= form_for @answer do |f| %>
  <%= f.select :lang, {
    "Ruby" => "ruby",
    "Python" => "python" } %>
  <%= f.text_area :code, :id => "code", :class => "my-code-area" %>
  <%= f.hidden_field :question_id, :value => @question.id %>
  <%= f.submit :value => "Judge" %>
<% end %>

<script>
//default lang
$('.my-code-area').ace( { theme: 'eclipse', lang: "ruby" } );

//change lang
$("select").click(function() {
  console.log($('#answer_lang').val());
  $('.my-code-area').ace(
    { 
      theme: 'eclipse', 
      lang: $('#answer_lang').val()
    }
  );
});

</script>
